* {
    box-sizing: border-box;
}

html {
    font-family: 'poppins', sans-serif;
}

.primera-caja {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: black;
    color: white;
    padding-bottom: 100px;
    padding-top: 5px;
    padding-left: 25px;
}

.segunda-caja {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 250px;
    width: auto;
    align-content: center;
}

.ache1 {
    margin: 15px;
    font-size: 75px;
}

.ache2 {
    margin-left: 15px;
    font-size: 20px;
}

.ache3 {
    margin: 15px;
    font-size: 15px;
}

.Logonasa {
    width: 250px;
    align-self: flex-start;
}

#caja-navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
    align-content: center;
}

.navegacion-lst {
    color: black;
    font-size: 25px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
    margin: 75px;
    text-decoration: none;
    flex-grow: 2;
}

p {
    width: 65%;
    padding: 100px;
    color: black;
    font-size: 45px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
}

.navegacion-2st {
    color: black;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
    margin: 55px;
    text-decoration: none;
}

.Segundo-prff {
    text-align: end;
    width: 65%;
    padding: 150px;
    color: rgb(240, 112, 27);
    font-size: 40px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
}

.cajadefotos {
    display: flex;
    flex-direction: column;
}

.fts-portada {
    width: 1024;
}

.subnavegacion {
    display: flex;
    justify-content: flex-end;
}

.hijo-navegacion {
    align-self: center;
}

.cajatxt1 {
    display: flex;
    justify-content: flex-start;
}

.cajatxt2 {
    display: flex;
    justify-content: flex-end;
}