html {
    font-family: 'poppins', sans-serif;
}

.primera-caja {
    width: auto;
    background-color: black;
    color: white;
    padding-bottom: 100px;
    padding-top: 5px;
    padding-left: 25px;
}

.segunda-caja {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 250px;
    width: auto;
}

.ache1 {
    margin: 15px;
    font-size: 25px;
}

.ache2 {
    margin: 15px;
    font-size: 20px;
}

.ache3 {
    margin: 15px;
    font-size: 15px;
}

.Logonasa {
    flex-grow: 1;
    float: left;
    width: 250px;
}

#navegacion {
    display: flex;
    float: right;
    padding: 15px;
}

.navegacion-lst {
    color: black;
    font-size: 25px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
    margin: 75px;
    text-decoration: none
}

p {
    align-content: center;
    padding: 100px;
    justify-content: flex-start;
    color: black;
    font-size: 45px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
}

.navegacion-2st {
    flex-direction: row;
    color: black;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
    margin: 55px;
    text-decoration: none
}

.Segundo-prff {
    align-content: stretch;
    padding: 150px;
    color: rgb(240, 112, 27);
    font-size: 40px;
    font-weight: 1000;
    font-family: 'poppins', sans-serif;
}

.cajadefotos {
    display: flex;
}

.fts-portada {
    width: fit-content;
}